<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table cellpadding="0" cellspacing="0" align="center" width="640">
    <tbody><tr>
        <td style="height:20px;"></td>
    </tr>

    <tr>
        <td height="10"></td>
    </tr>
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" width="640">
                <tbody><tr style="line-height: 40px;">
                    <td width="80" style="padding-left: 290px;">
                        <a>
                            <img src="http://7xkjur.com2.z0.glb.qiniucdn.com/poffineqiniulogo.png" width="54">
                        </a>
                    </td>
                </tr>
                </tbody></table>
        </td>
    </tr>
    <tr>
        <td height="40"></td>
    </tr>
    <tr>
        <td style="background-color: #fff;border-radius:6px;padding:40px 40px 0;">
            <table>
                <tbody><tr height="40">
                    <td style="padding-left:25px;padding-right:25px;font-size:18px;font-family:'微软雅黑','黑体',arial;">
                        <a href="mailto:尊敬的$!{userName}">$!{userName}</a>，您好,$!{userName}
                    </td>
                </tr>
                <tr height="15">
                    <td></td>
                </tr>
                <tr height="30">
                    <td style="padding-left:55px;padding-right:55px;font-family:'微软雅黑','黑体',arial;font-size:14px;">
                        感谢您注册使用。
                    </td>
                </tr>
                <tr height="30">
                    <td style="padding-left:55px;padding-right:55px;font-family:'微软雅黑','黑体',arial;font-size:14px;">
                    </td>
                </tr>
                <tr height="60">
                    <td style="padding-left:55px;padding-right:55px;font-family:'微软雅黑','黑体',arial;font-size:14px;">

                    </td>
                </tr>
                <tr height="10">
                    <td></td>
                </tr>
                <tr height="20">

                </tr>
                <tr height="30">
                    <td style="padding-left:55px;padding-right:65px;font-family:'微软雅黑','黑体',arial;line-height:18px;">

                    </td>
                </tr>
                <tr height="20">

                </tr>
                <tr height="20">
                    <td></td>
                </tr>
                </tbody></table>
        </td>
    </tr>
    <tr>
        <td style="height:40px;"></td>
    </tr>
    <tr>
        <td style="text-align: center;color:#7a8599;font-size: 12px;">
            <p>
                <a style="padding:0 5px;"  target="_blank"><img src="http://7xkjur.com2.z0.glb.qiniucdn.com/poffineweibo.png" width="23" alt=""></a>
                <a style="padding:0 5px;"  target="_blank"><img src="http://7xkjur.com2.z0.glb.qiniucdn.com/poffinewechat.png" width="23" alt=""></a>
            </p>
            <p style="line-height: 20px;">
                <a style="text-decoration: none;color:#7a8599;padding:0 5px;"  >开发者平台</a> -
                <a style="text-decoration: none;color:#7a8599;padding:0 5px;"  >问答社区</a> -
                <a style="text-decoration: none;color:#7a8599;padding:0 5px;"  >文档中心</a> -
                <a style="text-decoration: none;color:#7a8599;padding:0 5px;"  >工单支持</a>
            </p>
            <p style="line-height: 20px;">
                哈尔滨理工大学东区 ：作者Scyangle
            </p>
        </td>
    </tr>
    <tr>
        <td style="height:50px;"></td>
    </tr>
    </tbody></table>


</body>
</html>